body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.admin, .user-home {
  font-size: 20px;
  margin: 5px;
  padding: 5px 5px 5px 0px;
  opacity: 0.6;
  transition: 0.3s;
}

.admin:hover, .user-home {
  opacity: 1;
  cursor: pointer
}

.unavailible {
  width: 40%;
  text-align: center;
  background: #dfdfdf!important;
}

